@tailwind base;
@tailwind components;
@tailwind utilities;
/*#bdf674*/
:root {
  --background: #f9f5f2;
  /*--foreground: #0c544e;*/
  --primary-color: #00615f;
  --secondary-color: #bbe970;
  --light-secondary-color: #eff1ea;
  --text-color: #005250;
  --light-white: #f9f3f0;
}


body {
  /*color: var(--foreground);*/
  background: var(--background);
  font-family: Montserrat, Arial, sans-serif;
}
