@tailwind base;
@tailwind components;
@tailwind utilities;
/*#bdf674*/
:root {
  --background: #fbf9f7;
  /*--foreground: #0c544e;*/
  --primary-color: #00615f;
  --secondary-color: #bbe970;
  --light-secondary-color: #eef2e9;
  --text-color: #005250;
  --light-white: #f9f3f0;
}


body {
  /*color: var(--foreground);*/
  background: var(--background);
  font-family: Montserrat, Arial, sans-serif;
}

@keyframes swing {
  0%   { transform: rotate(-2deg);}
  50%  { transform: rotate(2deg);}
  100% { transform: rotate(-2deg);}
}
.animate-swing {
  animation: swing 2.5s infinite cubic-bezier(0.4, 0, 0.4, 1);
  display: inline-block;
}